<div class="row">
  <div class="col-lg-12 text-center">
    <h1>Buy Vertcoins</h1>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <h2 class="text-center">ShapeShift</h2>
    <p>While there is no easy way to directly purchase Vertcoin from USD yet, you can use ShapeShift to trade Bitcoin or other coins for Vertcoin with no account required.</p>
    <p class="text-center">
      <a href="https://www.shapeshift.io" target="_blank" class="btn btn-lg btn-success"><i class="fa fa-money"></i> Buy Vertcoins Now</a>
    </p>
  </div>
</div>
